<!--<div class="mycomment">
  <p><%= "#{message.content}" %></p>
</div>
-->
<% if message.user_id != nil %>
  <div class="mycomment">
    <% if message.content.include?(".jpg")%>
      <img src="<%= "/message_images/#{message.content}" %>">
    <% else %>
      <p><%= "#{message.content}" %></p>
    <% end %>
  </div>
<% else %>
  <div class="fukidasi">
    <div class="faceicon">
      <img src="/profile_icon.png" alt="相手">
    </div>
    <div class="chatting">
      <div class="says">
        <% if message.content.include?(".jpg")%>
          <img src="<%= "/message_images/#{message.content}" %>">
        <% else %>
          <p><%= "#{message.content}" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
