<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/teachers_images/#{@teacher.image_name}" %>">
      <h2><%= @teacher.name %></h2>
      <!--
      <% l = @teacher.floor_class %>
      <% if l %>
        <%if l >= 0.0 && l <0.5 %>
          <div style="font-size:13px"><span class="star" data-rate="0.0"></span>(<%= l%>)</div>
        <% elsif l >= 0.5 && l <1.0 %>
          <div style="font-size:13px"><span class="star" data-rate="0.5"></span>(<%= l%>)</div>
        <% elsif l >= 1.0 && l <1.5 %>
          <div style="font-size:13px"><span class="star" data-rate="1.0"></span>(<%= l%>)</div>
        <% elsif l >= 1.5 && l <2.0 %>
          <div style="font-size:13px"><span class="star" data-rate="1.5"></span>(<%= l%>)</div>
        <% elsif l >= 2.0 && l <2.5 %>
          <div style="font-size:13px"><span class="star" data-rate="2.0"></span>(<%= l%>)</div>
        <% elsif l >= 2.5 && l <3.0 %>
          <div style="font-size:13px"><span class="star" data-rate="2.5"></span>(<%= l%>)</div>
        <% elsif l >= 3.0 && l <3.5 %>
          <div style="font-size:13px"><span class="star" data-rate="3.0"></span>(<%= l%>)</div>
        <% elsif l >= 3.5 && l <4.0 %>
          <div style="font-size:13px"><span class="star" data-rate="3.5"></span>(<%= l%>)</div>
        <% elsif l >= 4.0 && l <4.5 %>
          <div style="font-size:13px"><span class="star" data-rate="4.0"></span>(<%= l%>)</div>
        <% elsif l >= 4.5 && l <5.0 %>
          <div style="font-size:13px"><span class="star" data-rate="4.5"></span>(<%= l%>)</div>
        <% else %>
          <div style="font-size:13px"><span class="star" data-rate="5.0"></span>(<%= l%>)</div>
        <% end %>
      <% end %>
      -->
      <% if @current_user%>
        <% if @teacher.user.id == @current_user.id %>
        <%= link_to("編集", "/teachers/#{@teacher.id}/edit") %>
        <% end %>
      <% end %>
    </div>
    <div class="posts-index-item3">
      <div class="rokugo"><p>科目</p></div>
      <div class="nizero"><p>おすすめ度</p></div>
      <div class="sango"><p>コメント</p></div>
    </div>
    <% @teacher.subjects.each do |subject| %>
      <div class="posts-index-item2">
        <div class="post-left">
          <img src="<%= "/subjects_images/#{subject.image_name}" %>">
        </div>
        <div class="post-right2">
          <div class="post-user-name">
            <%= link_to(subject.name, "/posts/#{subject.id}") %>
          </div>
        </div>
        <div class="post-right3">
          <div class="post-user-name">
            <% if subject.level %>
              <%if subject.level >= 0.0 && subject.level <0.5 %>
                <div class="sstar"><span class="star" data-rate="0.0"></span></div>
              <% elsif subject.level >= 0.5 && subject.level <1.0 %>
                <div class="sstar"><span class="star" data-rate="0.5"></span></div>
              <% elsif subject.level >= 1.0 && subject.level <1.5 %>
                <div class="sstar"><span class="star" data-rate="1.0"></span></div>
              <% elsif subject.level >= 1.5 && subject.level <2.0 %>
                <div class="sstar"><span class="star" data-rate="1.5"></span></div>
              <% elsif subject.level >= 2.0 && subject.level <2.5 %>
                <div class="sstar"><span class="star" data-rate="2.0"></span></div>
              <% elsif subject.level >= 2.5 && subject.level <3.0 %>
                <div class="sstar"><span class="star" data-rate="2.5"></span></div>
              <% elsif subject.level >= 3.0 && subject.level <3.5 %>
                <div class="sstar"><span class="star" data-rate="3.0"></span></div>
              <% elsif subject.level >= 3.5 && subject.level <4.0 %>
                <div class="sstar"><span class="star" data-rate="3.5"></span></div>
              <% elsif subject.level >= 4.0 && subject.level <4.5 %>
                <div class="sstar"><span class="star" data-rate="4.0"></span></div>
              <% elsif subject.level >= 4.5 && subject.level <5.0 %>
                <div class="sstar"><span class="star" data-rate="4.5"></span></div>
              <% else %>
                <div class="sstar"><span class="star" data-rate="5.0"></span></div>
              <% end %>
            <% else %>
              <%= link_to("", "/posts/#{subject.id}") %>
            <% end %>
          </div>
        </div>

        <div class="post-ri-right">
          <div class="post-content">
            <p><%= subject.contents.content %></p>
          </div>
        </div>

      </div>
    <% end %>
