<div class="main user-show">
  <div class="container3">
  <div class="user2">
    <div class="migi">
    <img src="<%= "/subjects_images/#{@subject.image_name}" %>">
    <h2><%= @subject.name %></h2>
    <% if @subject.level %>
      <% l = @subject.floor_class %>
      <%if @subject.level >= 0.0 && @subject.level <0.5 %>
        <div style="font-size:13px"><span class="star" data-rate="0.0"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 0.5 && @subject.level <1.0 %>
        <div style="font-size:13px"><span class="star" data-rate="0.5"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 1.0 && @subject.level <1.5 %>
        <div style="font-size:13px"><span class="star" data-rate="1.0"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 1.5 && @subject.level <2.0 %>
        <div style="font-size:13px"><span class="star" data-rate="1.5"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 2.0 && @subject.level <2.5 %>
        <div style="font-size:13px"><span class="star" data-rate="2.0"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 2.5 && @subject.level <3.0 %>
        <div style="font-size:13px"><span class="star" data-rate="2.5"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 3.0 && @subject.level <3.5 %>
        <div style="font-size:13px"><span class="star" data-rate="3.0"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 3.5 && @subject.level <4.0 %>
        <div style="font-size:13px"><span class="star" data-rate="3.5"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 4.0 && @subject.level <4.5 %>
        <div style="font-size:13px"><span class="star" data-rate="4.0"></span>(<%= l%>)</div>
      <% elsif @subject.level >= 4.5 && @subject.level <5.0 %>
        <div style="font-size:13px"><span class="star" data-rate="4.5"></span>(<%= l%>)</div>
      <% else %>
        <div style="font-size:13px"><span class="star" data-rate="5.0"></span>(<%= l%>)</div>
      <% end %>
    <% end %>


    <% if @subject.user.id == @current_user.id %>
      <%= link_to("編集", "/subjects/#{@subject.id}/edit") %>
    <% end %>
    </div>
    <div class="hidari formm users-form2">
      <div class="form-body2">
        <%= form_tag("/posts/#{@subject.id}/create") do %>
          <p class="p" >授業のおすすめ度を５段階で入力</p>
          <input name="evaluate">
          <p class="p" >授業の感想及び評価</p>
          <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="投稿">
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <div class="can">
  <div class="container3">


    <!-- 指定されたコードを貼り付けてください -->
    <ul class="user-tabs">
      <li class="active"><%= link_to("コメント", "#") %></li>
      <li><%= link_to("過去問", "/posts/#{@subject.id}/past_mondai") %></li>
      <li><%= link_to("授業ノート", "/posts/#{@subject.id}/note") %></li>
      <li><%= link_to("配布資料", "/posts/#{@subject.id}/handout") %></li>
      <li><%= link_to("課題", "/posts/#{@subject.id}/task") %></li>
      <li><%= link_to("その他", "/posts/#{@subject.id}/another") %></li>

    </ul>

    <% @posts.each do |post| %>
      <div class="posts-index-item-i">
        <div class="post-right12">
          <p style=""><%= post.content %></p>
        <div class="posi">
        <% if post.like %>
          <%= link_to("/posts/#{post.id}/like", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span><font color="black">(<%= post.like %>)</font>
          <% end %>
        <% else %>
          <%= link_to("/posts/#{post.id}/like", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span><font color="black">(0)</font>
          <% end %>
        <% end %>
        <% if post.bad %>
          <%= link_to("/posts/#{post.id}/bad", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span><font color="black">(<%= post.bad %>)</font>
          <% end %>
        <% else %>
          <%= link_to("/posts/#{post.id}/bad", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span><font color="black">(0)</font>
          <% end %>
        <% end %>
        </div>
        </div>
        <div class="post-left3">
          <p style="background-color:#BCF4BC;">おすすめ度</p>
          <%if post.level >= 0.0 && post.level <0.5 %>
            <div style="font-size:13px"><span class="star" data-rate="0.0"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 0.5 && post.level <1.0 %>
            <div style="font-size:13px"><span class="star" data-rate="0.5"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 1.0 && post.level <1.5 %>
            <div style="font-size:13px"><span class="star" data-rate="1.0"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 1.5 && post.level <2.0 %>
            <div style="font-size:13px"><span class="star" data-rate="1.5"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 2.0 && post.level <2.5 %>
            <div style="font-size:13px"><span class="star" data-rate="2.0"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 2.5 && post.level <3.0 %>
            <div style="font-size:13px"><span class="star" data-rate="2.5"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 3.0 && post.level <3.5 %>
            <div style="font-size:13px"><span class="star" data-rate="3.0"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 3.5 && post.level <4.0 %>
            <div style="font-size:13px"><span class="star" data-rate="3.5"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 4.0 && post.level <4.5 %>
            <div style="font-size:13px"><span class="star" data-rate="4.0"></span>(<%= post.level %>)</div>
          <% elsif post.level >= 4.5 && post.level <5.0 %>
            <div style="font-size:13px"><span class="star" data-rate="4.5"></span>(<%= post.level %>)</div>
          <% else %>
            <div style="font-size:13px"><span class="star" data-rate="5.0"></span>(<%= post.level %>)</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  </con>
</div>
