<!DOCTYPE html>
<html>
  <head>
    <title>Exam_Provision</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
    <body>
      <header>
        <div id="humMenu">
          <input id="humCheck" type="checkbox">
          <label id="humOpen" for="humCheck"><img src="/icon.png" alt="メニュー" width="34" height="30"></label>
          <label id="humClose" for="humCheck"></label>
          <nav>
            <ul class="inner">
              <% if @current_user %>
                <li>
                  <%= link_to("学校一覧", "/users/index") %>
                </li>
                <% if @current_user.id == session[:now_id].to_i%>
                <li>
                  <%= link_to("新規学校登録", "/signup") %>
                </li>
                <li>
                  <%= link_to("コース作成", "/courses/new") %>
                </li>
                <li>
                  <%= link_to("教授の追加", "/teachers/new") %>
                </li>
                <li>
                  <%= link_to("科目の作成", "/subjects/new") %>
                </li>
                <% end %>
                <% if session[:subject_id] %>
                <li>
                  <%= link_to("投稿", "/pasts/new") %>
                </li>
                <% end%>
                <li>
                  <%= link_to("ログアウト", "/logout", {method: :post}) %>
                </li>
              <% else %>
                <li>
                  <%= link_to("新規学校登録", "/signup") %>
                </li>
                <li>
                  <%= link_to("ログイン", "/login") %>
                </li>
              <% end %>
              </ul>
          </nav>
        </div>
        <div class="abso">
          <ul>
            <% if @current_user %>
            <li class="insta">
              <a href="https://www.instagram.com/o_style.ins"><img class="img-fluid" src="/insta.png" width="28" height="28"></a>
            </li>
            <li>
              <%= link_to("Exam-Provision", "/") %>
            </li>
            <li>
              <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            </li>
            <% else %>
            <li class="insta">
              <a href="https://www.instagram.com/o_style.ins"><img class="img-fluid" src="/insta.png" width="28" height="28"></a>
            </li>
            <li>
              <%= link_to("Exam-Provision", "/") %>
            </li>
            <% end %>
          </ul>
        </div>
      </header>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>


    </body>
</html>
